.header
  .section_inner.clearfix
    .fl.mob_hidden
      =link_to "", doctor_cabinet_index_path, class: :logo
    .menu_holder
      %ul.main_menu
        %li.main_m_item{'ui-sref-active' => 'active'}
          %a.gl_link{:href => "", 'ui-sref' => "schedule"}
            %span Расписание
        %li.main_m_item{'ui-sref-active' => 'active'}
          %a.gl_link{:href => "", 'ui-sref' => "patients.list"}
            %span Пациенты
    .fr
      .mb.mob_hidden
        #notifications.user_m_item{'ng-controller' => "NotificationsController"}
          %a.notifications.white_transp_2_btn.new_notification.notificationBtn{:href => ""} {{unreaded.length}}
          .notification_holder
            .notification_dropdown.notificationDropdown
              %ul.notification_list
                %li.notification_item{'ng-repeat' => "notification in notifications | filter:{unreaded: true} as unreaded", 'ng-if' => "$index < 5"}
                  .notification_img
                    %img{'ng-src' => "{{notification.patient.avatar}}", "ng-if" => "notification.patient.avatar != undefined"}/
                    .user_photo{"ng-if" => "notification.patient.avatar == undefined"}
                      .user_initials {{notification.patient.initials}}
                  .notification_event
                    = render partial: 'doctor/shared/notification'
              .text_center
                %a.gl_link.blue_link{:href => "", 'ui-sref' => "notifications"}
                  %span Все уведомления
      .mb
        .user_m_item.wnw.user_menu_w.userMenu
          .menu_avatar
            -# = image_tag(current_doctor.avatar ? "/upload/#{current_doctor.avatar}" : image_path("default_logo.png"))
            - if current_doctor.avatar
              = image_tag "/upload/#{current_doctor.avatar}"
            - else
              .avatar
                %span= current_doctor.initials

          .menu_user_name.mob_hidden
            %b #{current_doctor.name}
          .user_m_down_w
            %ul.user_drop_down_menu
              %li.user_drop_down_item
                %a.gl_link{:href => "", 'ui-sref' => "doctor.profile"} Настройки
              %li.user_drop_down_item
                %a.gl_link.blue_link{:href => "/doctors/#{current_doctor.username}", target: '_blank'} Мой сайт
              %li.user_drop_down_item
                %a.gl_link.openRecovery{:href => "#"} Техподдержка
              %li.user_drop_down_item
                %a.gl_link{:href => destroy_doctor_session_path} Выйти
