= render 'templates/doctor/patients/search'
= render 'templates/doctor/patients/two_steps_appointments_dialog'

.main_content
  .section_inner
    = render 'templates/doctor/patients/tip'

    .tabListScroller.hidden_tab_controls
      %ul#tab_list.tab_list
        %li.tab_item
          %a#open_read.tab_link{:href => "#tab_1"}
            %span.mb Сохранить
        %li.tab_item
          %a#open_edit.tab_link{:href => "#tab_2"}
            %span.mb Редактировать
    .tabBlock{"data-tab-context" => "#tab_list"}
      #tab_1
        %ul.patients_list
          %li.patient_unit{'dir-paginate' => "patient in patients | filter:filter_fn | itemsPerPage: items_limit "}
            .patient_card.cardAsideOverview

              / Color tag
              .patient_status_w.chosen_v2.no_search.skipOpen
                %select.chosen-select{"ng-model" => "patient.cart_color", 'chosen-select' => true, 'ng-change' => 'update_cart_color(patient)'}
                  %option.state_pin.status_blue{"data-title" => "status_blue", :selected => "selected", :value => "0"} 1
                  %option.state_pin.status_green{"data-title" => "status_green", :value => "1"} 2
                  %option.state_pin.status_red{"data-title" => "status_red", :value => "2"} 3
                  %option.state_pin.status_orange{"data-title" => "status_orange", :value => "3"} 4

              / Dropdown menu
              .patient_menu_w.skipOpen
                .drop_down_btn
                  %span
                .drop_down_w
                  %ul.drop_down_menu
                    %li.drop_down_item.active
                      %a.gl_link{:href => "javascript:", 'ng-click' => "update_created_by(patient.last_visit)", 'ng-show' => "patient.last_visit && patient.last_visit.created_by != 'doctor'"}
                        %span Подтвердить прием
                    %li.drop_down_item
                      %a.gl_link{:href => "javascript:", 'ng-click' => "deleteVisit(patient.last_visit)", 'ng-show' => "patient.last_visit"}
                        %span Отказать в  приёме
                    %li.drop_down_item
                      %a.gl_link{:href => "", 'ui-sref' => "journal.create({patient_id: patient.id})"}
                        %span Добавить запись в карту
                    %li.drop_down_item
                      %a.gl_link{:href => "", 'ui-sref' => "patients.edit({id: patient.id})"}
                        %span Редактировать
                    %li.drop_down_item{"ng-if" => "!patient.in_archive"}
                      %a.gl_link{:href => "", "ng-click" => "archivate(patient)"}
                        %span Отправить в архив
                    %li.drop_down_item{"ng-if" => "patient.in_archive"}
                      %a.gl_link{:href => "", "ng-click" => "unarchivate(patient)"}
                        %span Вернуть из архива
                    %li.drop_down_item
                      %a.gl_link{:href => "", "ng-click" => "deletePatient(patient)"}
                        %span Удалить

              / Patient info
              .patient_info
                .patient_name
                  %a.skipOpen.gl_link.gray_link.write2Card{:href => "", 'ui-sref' => "journal.records({patient_id: patient.id})"}
                    %span {{patient.full_name}}
                %p {{patient.comment}}
              .patient_info_table
                .other_info_cell
                  .p{'ng-repeat' => "contact in patient.contacts"}
                    -# {{contact | json}}
                    %span{'ng-if' => 'contact.contact_type == "phone"'} {{contact.data | phone}}
                    %span{'ng-if' => 'contact.contact_type != "phone"'} {{contact.data}}
                    -# {{contact.data}}
                  .p {{patient.email}}
              .patient_card_controls.skipOpen.patient_ready{"ng-if" => "patient.last_visit.active"}
                .patient_info_table
                  .controls_cell
                    %a.btn_v2.patient_btn.green_btn{:href => ""}
                      %span.mb Начать прием
              .patient_card_controls.skipOpen.patient_confirm{"ng-if" => "patient.last_visit != null && patient.last_visit.created_by == 'doctor' && !patient.last_visit.active"}
                .patient_info_table
                  .controls_cell
                    %a.btn_v2.patient_btn.white_white_btn{:href => "", "ng-click" => "changeReceptionTimeClick($event, patient.last_visit)"}
                      %span.mb Изменить прием на {{getFullVisitString(patient.last_visit)}}
                    %p
                      %a.gl_link{href: "javascript:", "ng-click" => "deleteVisit(patient.last_visit); $event.stopPropagation();"} Отменить прием
              .patient_card_controls.skipOpen.patient_warn{"ng-if" => "patient.last_visit != null && patient.last_visit.created_by != 'doctor' && !patient.last_visit.active"}
                .patient_info_table
                  .controls_cell
                    %a.btn_v2.patient_btn.white_white_btn{:href => "", "ng-click" => "update_created_by(patient.last_visit)"}
                      %span.mb Подтвердить прием на {{getFullVisitString(patient.last_visit)}}
              .patient_card_controls.skipOpen{"ng-if" => "patient.last_visit == null"}
                .patient_info_table
                  .controls_cell
                    %a.btn_v2.patient_btn.black_yellow_btn{:href => "", "ng-click" => "openAppointmentsForm(patient)"}
                      %span.mb Записать на прием

            / +patient_overview()
            .avatar_clone
              %a.patient_avatar.skipOpen.write2Card{:href => "", 'ui-sref' => "journal.records({patient_id: patient.id})"}
                .avatar{'ng-model' => 'patient', 'rnd-bg' => true}
                  %img{'ng-src' => "{{patient.avatar}}", "ng-if" => "patient.avatar != undefined"}/
                  %span{"ng-if" => "patient.avatar == undefined"} {{patient.initials}}

        / Pagination
        = render partial: 'doctor/shared/pagination_directive'
= render 'doctor/shared/popups/change_reception_form'
