!!!
-# %html{:lang => "ru", 'ng-app' => "practice.doctor", :class => "{{bodyClassName}}"}
%html{:lang => "ru", 'ng-app' => "practice.doctor", 'resize' => true, 'resize-full-calendar' => true }
  %head
    %title Practic профиль

    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag    'doctor', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'doctor', 'data-turbolinks-track' => false
    = csrf_meta_tags

  %body
    .wrapper
      .base.controls_mod
        = render 'doctor/shared/header'

        %div(ui-view)

        = render 'doctor/shared/aside_menu'
        %script{'type'=>"text/ng-template", 'id'=>"notifications.html"}
          .ui-notification
            %h3{"ng-show" => "title"}
              {{title}} aaaa
            .message{"ng-bind-html" => "message"}
      = render 'doctor/shared/popups/patient_info_form'
