!!!
%html{:lang => "ru"}
  %head
    %title= "#{@doctor.specialty} #{@doctor.first_name} #{@doctor.last_name}"

    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "#{@doctor.username}", :name => "doctor_username"}
    = render partial: 'layouts/doctor/favicons'
    = stylesheet_link_tag    'public', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'public', 'data-turbolinks-track' => false
    = csrf_meta_tags

  %body.overlay_v1{'ng-app' => "practice.public"}
    %div(ui-view)

    %script{'type'=>"text/ng-template", 'id'=>"appointments_form"}
      .stage_1{'ng-show' => "vm.stage == 1"}
        %form.popup_form.popup_v1{"style" => "padding: 20px 60px; border-radius: 10px;", :name => 'appointmentsFirstStepForm'}
          .form_caption
            Для записи заполните
            %br/
            три поля ниже
          .form_content
            .form_row
              .input_w.placeholder_mod
                %input.form_input.input_v4.checkEmpty{:autocomplete => 'off', :type => "text", :value => "", 'ng-model' => "vm.patient.name", 'ng-required' => "true", 'ng-class' => "{ 'ng-empty' : !vm.patient.name }", 'ng-trim' => 'false'}/
                %label.form_label.fz_20 Введите имя и фамилию
            .form_row
              .input_w.placeholder_mod
                %input.form_input.input_v4.checkEmpty{:autocomplete => 'off', :type => "tel", :value => "", 'ng-model' => "vm.patient.phone", 'ng-class' => "{ 'ng-empty' : !new_patient_phone_input }", 'ng-blur' => 'vm.newPatientPhoneInputBlur($event)', 'ng-trim' => 'false', 'ui-mask' => "+9 (999) 999-99-99", 'ui-options' => "{clearOnBlur: false, addDefaultPlaceholder: false, allowInvalidValue: true}", pattern: '\+\d \(\d{3}\) \d{3}-\d{2}-\d{2}'}/
                %label.form_label Телефон
            .form_row
              .input_w.placeholder_mod
                %input.form_input.input_v4.checkEmpty{:autocomplete => 'off', :type => "email", :value => "", 'ng-model' => "vm.patient.email", 'ng-class' => "{ 'ng-empty' : !vm.patient.email }", 'ng-trim' => 'false', 'ng-model-options' => "{allowInvalid: true}"}/
                %label.form_label Email (если есть, чтобы получить мед. карту)
          .form_footer
            %button.btn_v4.appointment_btn.appointmentTimeBtn.yellow_black_btn{"ng-click" => "vm.next_stage()"} Выбрать время записи
      .stage_2{'ng-show' => "vm.stage == 2"}
        .popup_form.popup_v1{"style" => "padding: 20px 60px; border-radius: 10px;"}
          .form_caption_holder
            .form_caption Выберите день и время приема
            .form_tip Кликните в свободную ячейку
          .form_content
            .popup_calendar_holder
              #popup_calendar.calendar_v2
          .form_footer
            %button.btn_v4.doctor_btn.appointmentTimeBtn.appointmentTimeBtn2.yellow_black_btn{'ng-click' => "vm.create_visit()"} Записаться
      .stage_3{"ng-show" => "vm.stage == 3"}
        .dialog_green_2
          .popup_form.popup_v1{"style" => "padding: 20px 60px; border-radius: 10px;"}
            .msg_title
              Запись
              %br/
              направлена врачу
            .msg_check
            .msg_text
              %p
                Запись на сайте является подтвержденной только после того как вам позвонят. Вы можете
                позвонить по номеру
                %br/
                {{vm.doctor.public_phone}}
            .text_center
              %button.btn_v2.white_green_btn_2.cancel_btn{"ng-click" => "vm.delete_last_visit()"} Отменить приём
      .ui-dialog-titlebar-close{"ng-show" => "vm.stage != 3", "ng-click" => "vm.close()"}
        .dialog_close_butt_mod_1
    = practice_counter_code
