!!!
%html{:lang => "ru"}
  %head
    %title Практика – #{yield :title}
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lora:400,700|Noto+Serif:400,700|Open+Sans:400,600,700&subset=cyrillic", :rel => "stylesheet"}/
    = render partial: 'layouts/doctor/favicons'
    = stylesheet_link_tag    'static/landing', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'static/landing', 'data-turbolinks-track' => false
    = csrf_meta_tags

  %body{class: ("_land" if action_name == 'landing')}
    .wrapper
      / .rect_1024
      .base
        .header
          .section_inner.clearfix
            .logo_block
              %a.logo{:href => "/"}
              %span.phone
                = practice_phone
            .header_controls
              = link_to("Вход для клиентов", doctor_cabinet_index_path, class: "btn_v2 black_btn auth_btn")
            %ul.land_menu
              %li
                = link_to("Зачем это", why_path, class: "nav_link")
              %li
                = link_to("Как работает", how_path, class: "nav_link")
              %li
                %a.nav_link.scrollTo{:href => "#price_section"}
                  Цены
        = yield
    = render partial: 'static_pages/forms'
    = practice_counter_code
